{% extends 'layout.twig' %}

{% block body %}
<div  class="container-fluid navbar">
  <div style="margin-left : 10px;" class="d-inline-block bg-warning">
    <h3>inline-block</h3>
  Boot that strap!
  </div>
  <div   style="margin-left : 10px;" class="d-inline-block bg-warning">
    <h3>inline-block</h3>
  Strap that boot!
  </div>
</div>
  
{% endblock %}
