<!DOCTYPE html>
<html>
  <head>
    <link href="/bs/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <body class="container">
            <table class="table">
                    <thead>
                      <tr>
                        <th>vm_name</th>
                        </tr>
                    </thead>
                    <tbody>
                     {% for v in data %}
                      <tr>
                        <td>{{v.name}}</td>
                        <td> <button type="submit" class="btn btn-primary"><a href="">connect</a></button></td>
                         <td> <button type="submit" class="btn btn-primary"><a href="/vm/updateVm/{{v._id}}">update</a></button></td>
                         <td> <button type="submit" class="btn btn-primary"><a href="/vm/deleteVm/{{v._id}}">delete</a></button></td>
                      </tr>
                       {% endfor %}
                    </tbody>
                  </table>


        <script src="/js/jquery.min.js"></script>
        <script src="/bs/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>