<!DOCTYPE html>
<html>
    <head>
        <link href="/bs/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body class="container">

        <h1>En cours de verification</h1>
        <p>si le delai d'activation de votre compte a depassé 72 heures veuillez contacter 72272772</p>


        
        <script src="/js/jquery.min.js"></script>
        <script src="/bs/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>