{% extends 'layout.twig' %}

{% block body %}
 <br>
 <br>
<div class="container">            
  <table class="table">
    <thead>
      <tr>
        <th>OS name</th>
        </tr>
    </thead>
    <tbody>
     {% for os in osNames %}
      <tr>
        <td>{{os.name}}</td>
        <td> <button type="submit" class="btn btn-primary"><a href="/os/removeOsName/{{os._id}}">delete</a></button></td>
         <td> <button type="submit" class="btn btn-primary"><a href="/os/updateOsName/{{os._id}}">update</a></button></td>
      </tr>
       {% endfor %}
    </tbody>
  </table>
</div> 


<button type="button" id="ds" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span><a href="/os/addOsName/{{id}}">add os name</a></span>
            </button>

<br>
<br>
 


 
{% endblock %}
