{% extends "./layouts/base.twig" %}
{% use "./layouts/sidebar.twig" %}


{# Title for this page #}
{% block title %}Hello
{% endblock %}

{# Define the stylesheets #}
{% block stylesheets %}
	<link
	href="/images/brand/favicon.png" rel="icon" type="image/png">
	<!-- Fonts -->
	<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<!-- Icons -->
	<link href="/javascripts/plugins/nucleo/css/nucleo.css" rel="stylesheet"/>
	<link
	href="/javascripts/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"/>
	<!-- CSS Files -->
	<link href="/css/argon-dashboard.css?v=1.1.0" rel="stylesheet"/>
	<style>
		.paragraph {
			overflow: hidden;

			text-overflow: ellipsis;

			display: -webkit-box;

			-webkit-box-orient: "vertical";

			-webkit-line-clamp: 2rem;

			line-height: 2rem;

			max-height: 10rem;
		}
	</style>
{% endblock %}

{% block sidebar %}
	{% include "./layouts/sidebar.twig" %}
{% endblock %}

{# Body of this page #}
{% block body %}

	{% block navbar %}

		{% include "./layouts/navbar.twig" with {
        'picture':"/images/theme/team-4-800x800.jpg",
        'name':"Jessica Alba",
    } %}

	{% endblock %}
	{% block background %}

		<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
			<div class="container-fluid">
				<div class="header-body"></div>
			</div>
		</div>

	{% endblock %}

	<div class="container-fluid mt--7">
		<div class="card bg-secondary shadow">
			<div class="card-header bg-white border-0">
				<div class="row align-items-center">
					<div class="col-8">
						<h3 class="mb-0">OS</h3>
					</div>

					<div class="col-md-4">
						<button type="button" class="btn btn-md btn-default" style="float:right;" data-toggle="modal" data-target="#modal-form">ADD OS</button>
						<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
							<div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
								<div class="modal-content">

									<div class="modal-body p-0">


										<div class="card bg-secondary shadow border-0">
											<div class="card-header bg-transparent">
												<div class="text-muted text-center mt-2 mb-3">
													<strong>Add OS</strong>
												</div>
											</div>
											<div class="card-body px-lg-5 py-lg-5">
												<form role="form">
													<div class="form-group mb-3">
														<div class="input-group input-group-alternative">
															<div class="input-group-prepend">
																<span class="input-group-text">
																	<i class="ni ni-laptop"></i>
																</span>
															</div>
															<input class="form-control" placeholder="Name" type="text">
														</div>
													</div>
													<div class="form-group">
														<div class="input-group input-group-alternative">
															<textarea class="form-control" rows="3" placeholder="Write a large text here ..."></textarea>
														</div>
													</div>
													<div class="text-center">
														<button type="button" class="btn btn-primary my-4">Add</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div style="margin:10px auto;display:flex;flex-flow:wrap;justify-content:space-between;">
				{% for item in items %}
					<div class="card" style="width: 18rem;margin:20px 10px;max-height:50rem;cursor:pointer;" onclick="goTo('{{item._id}}')">
						<div class="card-body" style="display:flex;flex-flow:wrap;">
							<h5 class="card-title" style="flex-basis:100%">{{item.type}}</h5>
							<p class="card-text paragraph">{{item.description}}</p>
							<div style="align-self:self-end">
								<a href="#" class="btn btn-primary">Update</a>
								<a href="#" class="btn btn-danger">Delete</a>
							</div>
						</div>

					</div>
				{% endfor %}
			</div>
		</div>

	{% endblock %}

	{% block javascripts %}
		<!--   Core   -->
		<script src="/javascripts/plugins/jquery/dist/jquery.min.js"></script>
		<script src="/javascripts/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<!--   Optional JS   -->
		<!--   Argon JS   -->
		<script src="/javascripts/argon-dashboard.min.js?v=1.1.0"></script>
		<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>

		<script>
			$('.paragraph').hover(function () {});
function goTo(_id) {
window.location.href = "/os/osDetails/" + _id;
}
		</script>
	{% endblock %}
